<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="data:,">
        <title>{{name}}</title>
        <style>
            body {
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }
            canvas { width: 100%; height: 100%; }
            input[type=range] { width: 100%; }
            #container { position: relative; }
            #container canvas, #overlay { position: absolute; }
            #overlay { z-index: 1; width: 100%; }
            #overlay div { padding: 5px; }
            #loader {
                border: 5px solid #f3f3f3; /* Light grey */
                border-top: 5px solid #3d3d3d; /* Grey */
                border-radius: 50%;
                width: 40px;
                height: 40px;
                animation: spin 1s linear infinite;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 2;
            }
            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        </style>
    </head>
    <body>
        <div id="loader"></div> 
        <div id="container">
            <div id="overlay">
                {{#each inputs}}
                <div>
                  <label for="{{id}}">{{name}}</label>
                  {{#number}}
                  <input type="number" id="{{../id}}" value="{{value}}">
                  {{/number}}
                  {{#range}}
                  <input type="range" id="{{../id}}" min="{{min}}" max="{{max}}" value="{{value}}" step="{{step}}">
                  {{/range}}
                  {{#bool}}
                  <input type="checkbox" id="{{../id}}" {{#value}}checked{{/value}}>
                  {{/bool}}
                </div>
                {{/each}}
                <div><button id="downloadButton" disabled>Download</button></div>
                <div><a href="{{name}}" download="{{name}}.html">Save source code</a></div>
            </div>
        </div>
        <!-- Import maps polyfill -->
        <!-- Remove this when import maps will be widely supported -->
        <script async src="https://unpkg.com/es-module-shims@1.8.0/dist/es-module-shims.js"></script>

        <script type="importmap">
            {
                "imports": {
                    "three": "https://unpkg.com/three@0.158.0/build/three.module.js",
                    "three/examples/jsm/controls/OrbitControls": "https://unpkg.com/three@0.158.0/examples/jsm/controls/OrbitControls.js",
                    "three/examples/jsm/loaders/3DMLoader": "https://unpkg.com/three@0.158.0/examples/jsm/loaders/3DMLoader.js",
                    "rhino3dm":"https://unpkg.com/rhino3dm@8.0.0-beta3/rhino3dm.module.js",
                    "rhino_compute": "https://unpkg.com/compute-rhino3d@0.13.0-beta/compute.rhino3d.module.js"
                }
            }
        </script>

        <script>
        const definitionName = "{{name}}";  // Inject the Handlebars variable into JS
        </script>

        <script type="module" src="/js/definition.js">

        </script>
    </body>
</html>
